<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.BoardMapper">

	<!-- <select id="selectList" resultType="com.yedam.vo.BoardVO"> -->
	<select id="selectList">
		select 	 board_no
				,title
				,content
				,writer
				,view_cnt
				,write_date
		from	tbl_board
		order by board_no						
	</select>
	


	<!-- <insert id="insertBoard" parameterType="com.yedam.vo.BoardVO"> -->
	<insert id="insertBoard">
		insert into tbl_board(
				board_no
				,title
				,content
				,writer
		)values(
				board_seq.nextval,
				#{title},
				#{content},
				#{writer}		
		)
	</insert>

	<!-- <update id="updateBoard" parameterType="com.yedam.vo.BoardVO"> -->
	<update id="updateBoard">

		update 	tbl_board
		<set>
		<if test="title != null">
			title = #{title}
		</if>		
		<if test="content != null">
			,content = #{content}
		</if>		
		where	board_no = #{boardNo}
		</set>

	</update>

	<!-- <update id="deleteBoard" parameterType="com.yedam.vo.BoardVO"> -->
	<delete id="deleteBoard">

		delete 	tbl_board
		where	board_no = #{boardNo}

	</delete>
	
	<select id="selectBoard" parameterType="int">
		select 	 board_no
				,title
				,content
				,writer
				,view_cnt
				,write_date
		from	tbl_board
		where	board_no = #{boardNo}
	</select>		

</mapper>